<html>
  <head>
    <%- include("includes/head.ejs", { title: "View Product" }) %>
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/products.css" />
  </head>
  <body>
    <header><%- include("includes/header.ejs") %></header>
    <main id="product-detail">
      <h1><%= product.title %></h1>
      <img src="/images/<%= product.image %>" alt="Image of the product" />
      <p><%= product.price %></p>
      <% if (!locals.isAdmin) { %>
      <a id="btn" href="">Add to basket</a>
      <% } %>
      <p><%= product.summary %></p>
      <div id="product-actions">
        <% if (locals.isAdmin) { %>
        <ul>
          <li>
            <a id="btn" href="/products/<%= product._id %>/edit">
              Edit Product
            </a>
          </li>
          <li>
            <form action="/products/<%= product._id %>/delete" method="POST">
              <button class="btn btn-alt">Delete Product</button>
            </form>
          </li>
        </ul>
        <% } %>
      </div>
    </main>
  </body>
</html>
